.border--none {
    border: none;
}

.border--ra__10 {
    border-radius: 10px;
}

.border--ra__20 {
    border-radius: 20px;
}

.border--ra__30 {
    border-radius: 30px;
}

.border--ra__40 {
    border-radius: 40px;
}

.border-bot_2 {
    border-bottom: 2px solid $border-color-gary;
}