.al-item_cen {
    align-items: center;
}

.justify-con_cen {
    justify-content: center;
}

.justify-con_even {
    justify-content: space-evenly;
}

.justify-con_around {
    justify-content: space-around;
}

.justify-con_bet {
    justify-content: space-between;
}

.flex-dir_col {
    flex-direction: column;
}

.flex-dir_row {
    flex-direction: row;
}

.per-cen {
    display: flex;
    align-items: center;
    justify-content: center;
}