.fon-s_10 {
    font-size: 10px;
}

.fon-s_15 {
    font-size: 15px;
}

.fon-s_20 {
    font-size: 20px;
}

.fon-s_30 {
    font-size: 30px;
}

.fon-s_40 {
    font-size: 40px;
}

.fon-w_600 {
    font-weight: 600;
}