.p-1rem {
    padding: 1rem;
}

.p-3rem {
    padding: 3rem;
}

.p-5rem {
    padding: 5rem;
}

.p-l-1rem {
    padding-left: 1rem;
}

.p-l-2rem {
    padding-left: 3rem;
}

.p-l-5rem {
    padding-left: 5rem;
}

.p-u-1rem {
    padding-top: 1rem;
}

.p-u-3rem {
    padding-top: 3rem;
}

.p-u-5rem {
    padding-top: 5rem;
}

.p-u-15rem {
    padding-top: 15rem;
}

.p--eg_th {
    padding: 8px 32px;
}