// Fonts 🔠

// Pixel Font

@font-face {
    font-family: 'Minecraft';
    src: url(../Fonts/Pixel/Minecraft.ttf);
}

.font-f-pixel {
    font-family: 'Minecraft';
}

// Techno Font

@font-face {
    font-family: 'MAKISUPA';
    src: url(../Fonts/Pixel/MAKISUPA.TTF);
}

.font-f-lennon {
    font-family: 'MAKISUPA';
}

// Sheet Font

@font-face {
    font-family: 'Utendo-Regular';
    src: url(../Fonts/Pixel/Utendo-Regular.ttf);
}

.font-f-utendo {
    font-family: 'Utendo-Regular';
}